<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/public/css/login.css">
</head>

<body>
    <div class="main">
        <div class="header">
            <a href="/">
                <img src="/public/img/logo3.png" alt="">
            </a>
            <h1>用户登录</h1>
        </div>

        <!--提交表单
            1 客户端 要发送表单
                1.1 获取表单数据
                1.2 监听submit事件
                1.3 ajax 发送post 请求到后台

            2 服务端获取到表单数据
                1.1 获取req.body中的表单数据
                1.2 验证
                        格式等是否正确
                        数据库中是否有它
                1.3 把首页返回到前端
        -->
        <form id="signin_form">
            <div class="form-group">
                <label for="email">邮箱</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Email" autofocus>
            </div>
            <div class="form-group">
                <label for="password">密码</label>
                <a class="pull-right" href="">忘记密码？</a>
                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
            </div>
            <div class="checkbox">
                <label>
          <input type="checkbox">记住我
        </label>
            </div>
            <button type="submit" class="btn btn-success btn-block">登录</button>
        </form>
        <div class="message">
            <p>没有账号? <a href="/signup">点击创建</a>.</p>
        </div>
    </div>
    <script src="/node_modules/jquery/dist/jquery.js"></script>
    <script>
        // 处理表单提交
    </script>
</body>

</html>