<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/public/css/login.css">
</head>

<body>

    <div class="main">
        <div class="header">
            <a href="/">
                <img src="/public/img/logo3.png" alt="">
            </a>
            <h1>用户注册</h1>
        </div>
        <form id="signup_form">
            <div class="form-group">
                <label for="email">邮箱</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Email" autofocus>
            </div>
            <div class="form-group">
                <label for="nickname">昵称</label>
                <input type="text" class="form-control" id="nickname" name="nickname" placeholder="Nickname">
            </div>
            <div class="form-group">
                <label for="password">密码</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
            </div>
            <button id="btn" type="submit" class="btn btn-success btn-block">注册</button>
        </form>
        <div class="message">
            <p>已有账号? <a href="/login">点击登录</a>.</p>
        </div>
    </div>
    <script src="/node_modules/jquery/dist/jquery.js"></script>
    <script>
        //   < !--提交表单
        //     1 客户端 要发送表单
        //     1.1 获取表单数据
        // 表单验证 https://github.com/jquery-validation/jquery-validation
        //     1.2 监听submit事件
        //     1.3 ajax 发送post 请求到后台

        //     2 服务端获取到表单数据
        //     1.1 获取req.body中的表单数据
        //     1.2 验证
        //     格式等是否正确
        //     数据库中是否有它
        //     1.3 把首页返回到前端
        //     -->

        $('#signup_form').on("submit", function(e) {
            console.log("asdasdasd");

            e.preventDefault();
            // serialize()序列化
            var formdata = $('#signup_form').serialize()
            console.log(formdata);

            $.ajax({
                url: '/signup',
                type: "POST",
                data: formdata,
                dataType: "json",
                success: function(results) {
                    console.log(results);
                },
                error: function(err) {
                    if (err) {
                        throw err
                    }
                }
            })

        })
    </script>
</body>

</html>